<%- include('header'); -%>
<div class="container">
                <form action="/searchList" method="get" class="back-button">
                        <button class="mdc-fab" aria-label="back">
                                <div class="mdc-fab__ripple"></div>
                                <span class="mdc-fab__icon material-icons">keyboard_backspace</span>
                        </button>
                </form>
        <div class="book-container">
                <div class="home-hero">
                        <img src="/assets/booking.png" alt="dog" id="dog-gif">
                </div>
                <h1>Confirm booking</h1>
                <div class="form-container">
                        <form action="/confirmBookService" method="post">
                                <h3>Pet sitter</h3>
                                <p><%= name %></p>
                                <h3>Service type</h3>
                                <p><%= service_type %></p>
                                <h3>Price/hr</h3>
                                <p><%= price_per %></p>
                                <h3>Pet</h3>
                                <p><%= pet_name %></p>
                                <h3>Duration of booking</h3>
                                <div class="input-container">
                                        <label class="mdc-text-field filter-field" data-mdc-auto-init="MDCTextField">
                                                <div class="mdc-text-field__ripple"></div>
                                                <input class="mdc-text-fielsd__input" type="hidden" aria-labelledby="my-label-id" id="service_id" name="service_id" value = <%= service_id %>>
                                                <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" id="phone_number" name="duration">
                                                <input class="mdc-text-field__input" type="hidden" aria-labelledby="my-label-id" id="pet_id" name="pet_id" value = <%= pet_id %>>
                                                <span class="mdc-floating-label" id="my-label-id">Enter duration</span>
                                                <div class="mdc-line-ripple"></div>
                                        </label>
                                        <button class="mdc-button mdc-button--unelevated">
                                                <div class="mdc-button__ripple"></div>
                                                <span class="mdc-button__label">Book Service</span>
                                        </button>
                                </div>
                        </form>
                </div>
        </div>
</div>


<%- include('footer'); -%>