<%- include('header'); -%>
<div class="container">
    <div class="bookings-container">
        <h1>Your bookings</h1>
        <h2>View your bookings and leave reviews.</h2>
        <% bookings.forEach(function(booking) { %>
            <div class="mdc-card booking">
                <h2><%= booking.sittername %></h2>
                <h4><%= booking.servicetype %> for <%= booking.petname %></h4>
                <h3>Total price</h3>
                <p>$<%= booking.totalprice.toFixed(2) %></p>
                <h3>Duration</h3>
                <p><%= booking.duration %> hrs</p>
                <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__actions">
                            <button class="mdc-button mdc-card__action mdc-card__action--button">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Action 1</span>
                            </button>
                            <button class="mdc-button mdc-card__action mdc-card__action--button">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Action 2</span>
                            </button>
                        </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include('footer'); -%>

<script>
    
</script>