<%- include('header'); -%>
<form action="/searchList" method="get" class="back-button">
  <button class="mdc-fab" aria-label="back">
      <div class="mdc-fab__ripple"></div>
      <span class="mdc-fab__icon material-icons">keyboard_backspace</span>
  </button>
</form>
<div class="container">
  <div class="home-container">
    <h1>Search results</h1>
    <h3>Show/hide columns</h3>
    <div class="filter-columns">
      <form action="/searchResultsFilter" method="post">
        <div class="mdc-form-field">
          <div class="mdc-checkbox">
            <input type="checkbox"
                    class="mdc-checkbox__native-control"
                    id="checkbox-1"
                    name="col1"/>
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark"
                    viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path"
                      fill="none"
                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
              </svg>
              <div class="mdc-checkbox__mixedmark"></div>
            </div>
            <div class="mdc-checkbox__ripple"></div>
          </div>
          <label for="checkbox-1">Name</label>
        </div>
        <div class="mdc-form-field">
          <div class="mdc-checkbox">
            <input type="checkbox"
                    class="mdc-checkbox__native-control"
                    id="checkbox-1"
                    name="col2"/>
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark"
                    viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path"
                      fill="none"
                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
              </svg>
              <div class="mdc-checkbox__mixedmark"></div>
            </div>
            <div class="mdc-checkbox__ripple"></div>
          </div>
          <label for="checkbox-1">Price/hr</label>
        </div>
        <div class="mdc-form-field">
          <div class="mdc-checkbox">
            <input type="checkbox"
                    class="mdc-checkbox__native-control"
                    id="checkbox-1"
                    name="col3"/>
            <div class="mdc-checkbox__background">
              <svg class="mdc-checkbox__checkmark"
                    viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path"
                      fill="none"
                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
              </svg>
              <div class="mdc-checkbox__mixedmark"></div>
            </div>
            <div class="mdc-checkbox__ripple"></div>
          </div>
          <label for="checkbox-1">Service type</label>
        </div>
          <div class="margin"></div>
          <button class="mdc-button mdc-button--unelevated">
              <div class="mdc-button__ripple"></div>
              <span class="mdc-button__label">Apply</span>
          </button>
        </form>
      </div>
      <div class="table-container">
        <section class="data-container">
            <div class="mdc-data-table">
                <table class="mdc-data-table__table" aria-label="Dessert calories">
                  <thead>
                    <tr class="mdc-data-table__header-row">
                      <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
                      <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Price/hr</th>
                      <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Service type</th>
                    </tr>
                  </thead>
                  <tbody class="mdc-data-table__content">
                    <% for(var i=0; i<results.length; i++) {%>
                      <form action="/bookService" method="post" class="form-container">
                        <tr class="mdc-data-table__row">
                          <td class="mdc-data-table__cell"><%= results[i].name %></td>
                          <td class="mdc-data-table__cell">$<%= results[i].priceper %></td>
                          <td class="mdc-data-table__cell"><%= results[i].servicetype %></td>
                          <td class="mdc-data-table__cell">
                          <input class="mdc-text-fielsd__input" type="hidden" aria-labelledby="my-label-id" id="pet_id1" name="name" value = <%= results[i].name %>>
                          <input class="mdc-text-fielsd__input" type="hidden" aria-labelledby="my-label-id" id="pet_id1" name="priceper" value = <%= results[i].priceper %>>
                          <input class="mdc-text-fielsd__input" type="hidden" aria-labelledby="my-label-id" id="pet_id1" name="servicetype" value = <%= results[i].servicetype %>>
                          <button class="mdc-button mdc-button--unelevated">
                              <div class="mdc-button__ripple"></div>
                              <span class="mdc-button__label">Book service</span>
                          </button></td>
                        </tr>
                      </form>
                    <% } %>
                  </tbody>
                </table>
              </div>
        </section>
      </div>
</div>
<%- include('footer'); -%>
