<%- include('header'); -%>
<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="home-container" >
      <section class="home">
          <div class="mdc-data-table">
              <table class="mdc-data-table__table" aria-label="Dessert calories">
                <thead>
                  <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
                  </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                  <% for(var i=0; i<results.length; i++) {%>
                    <form action="<%= `/petsitter/${results[i].user_id}` %>" method="get" class="form-container">
                      <tr class="mdc-data-table__row">
                        <td class="mdc-data-table__cell"><%= results[i].name %></td>
                        <td class="mdc-data-table__cell">
                        <input class="mdc-text-fielsd__input" type="hidden" aria-labelledby="my-label-id" id="pet_id1" name="user_id" value = <%= results[i].user_id %>>
                        <button class="mdc-button mdc-button--unelevated">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Go To Profile</span>
                        </button></td>
                      </tr>
                    </form>
                  <% } %>
                </tbody>
              </table>
            </div>
      </section>
      </div>
  </body>
</html>
<%- include('footer'); -%>
