<%- include('header'); -%>
<div class="container">
    <form action="/searchList" method="get" class="back-button">
        <button class="mdc-fab" aria-label="back">
            <div class="mdc-fab__ripple"></div>
            <span class="mdc-fab__icon material-icons">keyboard_backspace</span>
        </button>
    </form>
    <div class="review-container">
        <h1><%= profile.name %></h1>
        <h3>Bio</h3>
        <h4><%= profile.bio %></h4>
        <h3>Average rating</h3>
        <h4><%= averageRating %></h4>
        <h2>Reviews</h2>
        <div class="margin"></div>
        <% reviews.forEach(function(review) { %>
            <div class="review">
                <p role="separator" class="mdc-list-divider"></p>
                <h3><%= review.ownername %> said: </h3>
                <h4><%= review.reviewcontent %></h4>
                <h3>Rating ⭐</h3>
                <h4><%= review.rating %>/5</h4>
            </div>
        <% }); %>
    </div>
</div>
<%- include('footer'); -%>
